<a href="https://colab.research.google.com/github/ClaudioAMF1/Machine-Learning/blob/main/ML_atividade02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
url = "https://raw.githubusercontent.com/bluenex/WekaLearningDataset/master/bank/bank-data.csv"
arquivo = pd.read_csv(url)
arquivo.head()

,id,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,ID12101,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,ID12102,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
2,ID12103,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
3,ID12104,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4,ID12105,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

In [ ]:
print(arquivo.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           600 non-null    object
 1   age          600 non-null    int64
 2   sex          600 non-null    object
 3   region       600 non-null    object
 4   income       600 non-null    float64
 5   married      600 non-null    object
 6   children     600 non-null    int64
 7   car          600 non-null    object
 8   save_act     600 non-null    object
 9   current_act  600 non-null    object
 10  mortgage     600 non-null    object
 11  pep          600 non-null    object
dtypes: float64(1), int64(2), object(9)
memory usage: 56.4+ KB
None

In [ ]:
print(arquivo.describe())

              age        income    children
count  600.000000    600.000000  600.000000
mean    42.395000  27524.031217    1.011667
std     14.424947  12899.468246    1.056752
min     18.000000   5014.210000    0.000000
25%     30.000000  17264.500000    0.000000
50%     42.000000  24925.300000    1.000000
75%     55.250000  36172.675000    2.000000
max     67.000000  63130.100000    3.000000

In [ ]:
arquivo.pop('id')

0      ID12101
1      ID12102
2      ID12103
3      ID12104
4      ID12105
        ...
595    ID12696
596    ID12697
597    ID12698
598    ID12699
599    ID12700
Name: id, Length: 600, dtype: object

In [ ]:
arquivo.head()

,age,sex,region,income,married,children,car,save_act,current_act,mortgage,pep
0,48,FEMALE,INNER_CITY,17546.0,NO,1,NO,NO,NO,NO,YES
1,40,MALE,TOWN,30085.1,YES,3,YES,NO,YES,YES,NO
2,51,FEMALE,INNER_CITY,16575.4,YES,0,YES,YES,YES,NO,NO
3,23,FEMALE,TOWN,20375.4,YES,3,NO,NO,YES,NO,NO
4,57,FEMALE,RURAL,50576.3,YES,0,NO,YES,NO,NO,NO

In [ ]:
print(arquivo['pep'].value_counts())

pep
NO     326
YES    274
Name: count, dtype: int64

In [ ]:
if 'sex' in arquivo.columns:
    print("Column 'sex' exists in the DataFrame.")

    arquivo['sex'] = arquivo['sex'].replace('MALE', 1)
    arquivo['sex'] = arquivo['sex'].replace('FEMALE', 0)
else:
    print("Column 'sex' does not exist in the DataFrame.")

print(arquivo.head())

Column 'sex' exists in the DataFrame.
   age  sex      region   income married  children  car save_act current_act  \
0   48    0  INNER_CITY  17546.0      NO         1   NO       NO          NO
1   40    1        TOWN  30085.1     YES         3  YES       NO         YES
2   51    0  INNER_CITY  16575.4     YES         0  YES      YES         YES
3   23    0        TOWN  20375.4     YES         3   NO       NO         YES
4   57    0       RURAL  50576.3     YES         0   NO      YES          NO

  mortgage  pep
0       NO  YES
1      YES   NO
2       NO   NO
3       NO   NO
4       NO   NO

In [ ]:
if 'married' in arquivo.columns:
    print("Column 'pep' exists in the DataFrame.")
    arquivo['married'] = arquivo['married'].replace('YES', 1)
    arquivo['married'] = arquivo['married'].replace('NO', 0)
else:
    print("Column 'married' does not exist in the DataFrame.")

print(arquivo.head())

Column 'pep' exists in the DataFrame.
   age  sex      region   income  married  children  car save_act current_act  \
0   48    0  INNER_CITY  17546.0        0         1   NO       NO          NO
1   40    1        TOWN  30085.1        1         3  YES       NO         YES
2   51    0  INNER_CITY  16575.4        1         0  YES      YES         YES
3   23    0        TOWN  20375.4        1         3   NO       NO         YES
4   57    0       RURAL  50576.3        1         0   NO      YES          NO

  mortgage  pep
0       NO  YES
1      YES   NO
2       NO   NO
3       NO   NO
4       NO   NO

In [ ]:
if 'car' in arquivo.columns:
    print("Column 'pep' exists in the DataFrame.")

    arquivo['car'] = arquivo['car'].replace('YES', 1)
    arquivo['car'] = arquivo['car'].replace('NO', 0)

else:
    print("Column 'car' does not exist in the DataFrame.")

print(arquivo.head())

Column 'pep' exists in the DataFrame.
   age  sex      region   income  married  children  car save_act current_act  \
0   48    0  INNER_CITY  17546.0        0         1    0       NO          NO
1   40    1        TOWN  30085.1        1         3    1       NO         YES
2   51    0  INNER_CITY  16575.4        1         0    1      YES         YES
3   23    0        TOWN  20375.4        1         3    0       NO         YES
4   57    0       RURAL  50576.3        1         0    0      YES          NO

  mortgage  pep
0       NO  YES
1      YES   NO
2       NO   NO
3       NO   NO
4       NO   NO

In [ ]:
if 'save_act' in arquivo.columns:
    print("Column 'save_act' exists in the DataFrame.")

    arquivo['save_act'] = arquivo['save_act'].replace('YES', 1)
    arquivo['save_act'] = arquivo['save_act'].replace('NO', 0)

else:
    print("Column 'save_act' does not exist in the DataFrame.")

print(arquivo.head())

Column 'save_act' exists in the DataFrame.
   age  sex      region   income  married  children  car  save_act  \
0   48    0  INNER_CITY  17546.0        0         1    0         0
1   40    1        TOWN  30085.1        1         3    1         0
2   51    0  INNER_CITY  16575.4        1         0    1         1
3   23    0        TOWN  20375.4        1         3    0         0
4   57    0       RURAL  50576.3        1         0    0         1

  current_act mortgage  pep
0          NO       NO  YES
1         YES      YES   NO
2         YES       NO   NO
3         YES       NO   NO
4          NO       NO   NO

In [ ]:
if 'current_act' in arquivo.columns:
    print("Column 'current_act' exists in the DataFrame.")

    arquivo['current_act'] = arquivo['current_act'].replace('YES', 1)
    arquivo['current_act'] = arquivo['current_act'].replace('NO', 0)

else:
    print("Column 'current_act' does not exist in the DataFrame.")

print(arquivo.head())

Column 'current_act' exists in the DataFrame.
   age  sex      region   income  married  children  car  save_act  \
0   48    0  INNER_CITY  17546.0        0         1    0         0
1   40    1        TOWN  30085.1        1         3    1         0
2   51    0  INNER_CITY  16575.4        1         0    1         1
3   23    0        TOWN  20375.4        1         3    0         0
4   57    0       RURAL  50576.3        1         0    0         1

   current_act mortgage  pep
0            0       NO  YES
1            1      YES   NO
2            1       NO   NO
3            1       NO   NO
4            0       NO   NO

In [ ]:
if 'mortgage' in arquivo.columns:
    print("Column 'mortgage' exists in the DataFrame.")

    arquivo['mortgage'] = arquivo['mortgage'].replace('YES', 1)
    arquivo['mortgage'] = arquivo['mortgage'].replace('NO', 0)

else:
    print("Column 'mortgage' does not exist in the DataFrame.")

print(arquivo.head())

Column 'mortgage' exists in the DataFrame.
   age  sex      region   income  married  children  car  save_act  \
0   48    0  INNER_CITY  17546.0        0         1    0         0
1   40    1        TOWN  30085.1        1         3    1         0
2   51    0  INNER_CITY  16575.4        1         0    1         1
3   23    0        TOWN  20375.4        1         3    0         0
4   57    0       RURAL  50576.3        1         0    0         1

   current_act  mortgage  pep
0            0         0  YES
1            1         1   NO
2            1         0   NO
3            1         0   NO
4            0         0   NO

In [ ]:
if 'pep' in arquivo.columns:
    print("Column 'pep' exists in the DataFrame.")

    arquivo['pep'] = arquivo['pep'].replace('YES', 1)
    arquivo['pep'] = arquivo['pep'].replace('NO', 0)
else:
    print("Column 'pep' does not exist in the DataFrame.")

print(arquivo.head())

Column 'pep' exists in the DataFrame.
   age  sex      region   income  married  children  car  save_act  \
0   48    0  INNER_CITY  17546.0        0         1    0         0
1   40    1        TOWN  30085.1        1         3    1         0
2   51    0  INNER_CITY  16575.4        1         0    1         1
3   23    0        TOWN  20375.4        1         3    0         0
4   57    0       RURAL  50576.3        1         0    0         1

   current_act  mortgage  pep
0            0         0    1
1            1         1    0
2            1         0    0
3            1         0    0
4            0         0    0

In [ ]:
arquivo = pd.get_dummies(arquivo, columns=['region'])

In [ ]:
print(arquivo.head())

   age  sex   income  married  children  car  save_act  current_act  mortgage  \
0   48    0  17546.0        0         1    0         0            0         0
1   40    1  30085.1        1         3    1         0            1         1
2   51    0  16575.4        1         0    1         1            1         0
3   23    0  20375.4        1         3    0         0            1         0
4   57    0  50576.3        1         0    0         1            0         0

   pep  region_INNER_CITY  region_RURAL  region_SUBURBAN  region_TOWN
0    1               True         False            False        False
1    0              False         False            False         True
2    0               True         False            False        False
3    0              False         False            False         True
4    0              False          True            False        False

In [ ]:
if 'sex_MALE' in arquivo.columns:
    print("Column 'sex_MALE' exists in the DataFrame.")

    arquivo['sex_MALE'] = arquivo['sex_MALE'].replace(True, 1)
    arquivo['sex_MALE'] = arquivo['sex_MALE'].replace(False, 0)
else:
    print("Column 'sex_MALE' does not exist in the DataFrame.")

print(arquivo.head())

Column 'sex_MALE' does not exist in the DataFrame.
   age  sex   income  married  children  car  save_act  current_act  mortgage  \
0   48    0  17546.0        0         1    0         0            0         0
1   40    1  30085.1        1         3    1         0            1         1
2   51    0  16575.4        1         0    1         1            1         0
3   23    0  20375.4        1         3    0         0            1         0
4   57    0  50576.3        1         0    0         1            0         0

   pep  region_INNER_CITY  region_RURAL  region_SUBURBAN  region_TOWN
0    1               True         False            False        False
1    0              False         False            False         True
2    0               True         False            False        False
3    0              False         False            False         True
4    0              False          True            False        False

In [ ]:
if 'sex_FEMALE' in arquivo.columns:
    print("Column 'sex_FEMALE' exists in the DataFrame.")

    arquivo['sex_FEMALE'] = arquivo['sex_FEMALE'].replace(True, 1)
    arquivo['sex_FEMALE'] = arquivo['sex_FEMALE'].replace(False, 0)
else:
    print("Column 'sex_FEMALE' does not exist in the DataFrame.")

print(arquivo.head())

Column 'sex_FEMALE' does not exist in the DataFrame.
   age  sex   income  married  children  car  save_act  current_act  mortgage  \
0   48    0  17546.0        0         1    0         0            0         0
1   40    1  30085.1        1         3    1         0            1         1
2   51    0  16575.4        1         0    1         1            1         0
3   23    0  20375.4        1         3    0         0            1         0
4   57    0  50576.3        1         0    0         1            0         0

   pep  region_INNER_CITY  region_RURAL  region_SUBURBAN  region_TOWN
0    1               True         False            False        False
1    0              False         False            False         True
2    0               True         False            False        False
3    0              False         False            False         True
4    0              False          True            False        False

In [ ]:
if 'region_INNER_CITY' in arquivo.columns:
    print("Column 'region_INNER_CITY' exists in the DataFrame.")

    arquivo['region_INNER_CITY'] = arquivo['region_INNER_CITY'].replace(True, 1)
    arquivo['region_INNER_CITY'] = arquivo['region_INNER_CITY'].replace(False, 0)
else:
    print("Column 'region_INNER_CITY' does not exist in the DataFrame.")

print(arquivo.head())

Column 'region_INNER_CITY' exists in the DataFrame.
   age  sex   income  married  children  car  save_act  current_act  mortgage  \
0   48    0  17546.0        0         1    0         0            0         0
1   40    1  30085.1        1         3    1         0            1         1
2   51    0  16575.4        1         0    1         1            1         0
3   23    0  20375.4        1         3    0         0            1         0
4   57    0  50576.3        1         0    0         1            0         0

   pep  region_INNER_CITY  region_RURAL  region_SUBURBAN  region_TOWN
0    1                  1         False            False        False
1    0                  0         False            False         True
2    0                  1         False            False        False
3    0                  0         False            False         True
4    0                  0          True            False        False

In [ ]:
if 'region_RURAL' in arquivo.columns:
    print("Column 'region_RURAL' exists in the DataFrame.")

    arquivo['region_RURAL'] = arquivo['region_RURAL'].replace(True, 1)
    arquivo['region_RURAL'] = arquivo['region_RURAL'].replace(False, 0)
else:
    print("Column 'region_RURAL' does not exist in the DataFrame.")

print(arquivo.head())

Column 'region_RURAL' exists in the DataFrame.
   age  sex   income  married  children  car  save_act  current_act  mortgage  \
0   48    0  17546.0        0         1    0         0            0         0
1   40    1  30085.1        1         3    1         0            1         1
2   51    0  16575.4        1         0    1         1            1         0
3   23    0  20375.4        1         3    0         0            1         0
4   57    0  50576.3        1         0    0         1            0         0

   pep  region_INNER_CITY  region_RURAL  region_SUBURBAN  region_TOWN
0    1                  1             0            False        False
1    0                  0             0            False         True
2    0                  1             0            False        False
3    0                  0             0            False         True
4    0                  0             1            False        False

In [ ]:
if 'region_SUBURBAN' in arquivo.columns:
    print("Column 'region_SUBURBAN' exists in the DataFrame.")

    arquivo['region_SUBURBAN'] = arquivo['region_SUBURBAN'].replace(True, 1)
    arquivo['region_SUBURBAN'] = arquivo['region_SUBURBAN'].replace(False, 0)
else:
    print("Column 'region_SUBURBAN' does not exist in the DataFrame.")

print(arquivo.head())

Column 'region_SUBURBAN' exists in the DataFrame.
   age  sex   income  married  children  car  save_act  current_act  mortgage  \
0   48    0  17546.0        0         1    0         0            0         0
1   40    1  30085.1        1         3    1         0            1         1
2   51    0  16575.4        1         0    1         1            1         0
3   23    0  20375.4        1         3    0         0            1         0
4   57    0  50576.3        1         0    0         1            0         0

   pep  region_INNER_CITY  region_RURAL  region_SUBURBAN  region_TOWN
0    1                  1             0                0        False
1    0                  0             0                0         True
2    0                  1             0                0        False
3    0                  0             0                0         True
4    0                  0             1                0        False

In [ ]:
if 'region_TOWN' in arquivo.columns:
    print("Column 'region_TOWN' exists in the DataFrame.")

    arquivo['region_TOWN'] = arquivo['region_TOWN'].replace(True, 1)
    arquivo['region_TOWN'] = arquivo['region_TOWN'].replace(False, 0)
else:
    print("Column 'region_TOWN' does not exist in the DataFrame.")

print(arquivo.head())

Column 'region_TOWN' exists in the DataFrame.
   age  sex   income  married  children  car  save_act  current_act  mortgage  \
0   48    0  17546.0        0         1    0         0            0         0
1   40    1  30085.1        1         3    1         0            1         1
2   51    0  16575.4        1         0    1         1            1         0
3   23    0  20375.4        1         3    0         0            1         0
4   57    0  50576.3        1         0    0         1            0         0

   pep  region_INNER_CITY  region_RURAL  region_SUBURBAN  region_TOWN
0    1                  1             0                0            0
1    0                  0             0                0            1
2    0                  1             0                0            0
3    0                  0             0                0            1
4    0                  0             1                0            0

In [ ]:
y = arquivo['pep']
X = arquivo.drop('pep', axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=35)

In [ ]:
from sklearn.svm import SVC
# Inicializando o classificador SVM com um kernel. O padrÃ£o Ã© 'rbf', mas pode ser alterado para 'linear', 'poly', etc.
modelo = SVC(kernel='rbf',probability=True)

modelo.fit(x_train, y_train)
y_pred = modelo.predict(x_test)

In [ ]:
resultado = modelo.score(x_test, y_test)
print ("AcurÃ¡cia:", resultado)

AcurÃ¡cia: 0.6388888888888888

In [ ]:
import numpy as np
from sklearn.metrics import precision_score, recall_score, f1_score

In [ ]:
y_pred = modelo.predict(x_test)
y_pred_rounded = np.round(y_pred)

precisao = precision_score(y_test, y_pred_rounded)
recall = recall_score(y_test, y_pred_rounded)
f1 = f1_score(y_test, y_pred_rounded)

print("PrecisÃ£o:", precisao)
print("Recall:", recall)
print("F1-score:", f1)

PrecisÃ£o: 0.6170212765957447
Recall: 0.3815789473684211
F1-score: 0.47154471544715443

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report

"""
Calculando e exibindo a matriz de confusÃ£o. A orientaÃ§Ã£o padrÃ£o Ã© a seguinte:
[0,0]: Verdadeiros Negativos (VN) - PrevisÃµes corretamente identificadas como negativas.
[0,1]: Falsos Positivos (FP) - PrevisÃµes incorretamente identificadas como positivas.
[1,0]: Falsos Negativos (FN) - PrevisÃµes incorretamente identificadas como negativas.
[1,1]: Verdadeiros Positivos (VP) - PrevisÃµes corretamente identificadas como positivas.
"""

conf_matrix = confusion_matrix(y_test, y_pred_rounded)
print("Matriz de ConfusÃ£o:")
print(conf_matrix)

Matriz de ConfusÃ£o:
[[34 32]
 [22 32]]

In [ ]:

"""
Calculando e exibindo as mÃ©tricas de classificaÃ§Ã£o.
Se algumas classes tÃªm muito mais amostras do que outras, isso pode influenciar o desempenho e confiabilidade do modelo.

O "support" refere-se Ã  quantidade de ocorrÃªncias da classe especÃ­fica no conjunto de dados, sendo Ãºtil para verificar desbalanceamentos.
A "macro avg" calcula a mÃ©dia aritmÃ©tica das mÃ©tricas (precisÃ£o, recall, F1-score) para cada classe, sem considerar o nÃºmero de instÃ¢ncias em cada classe (support).
A "weighted avg" calcula a mÃ©dia ponderada das mÃ©tricas para cada classe, considerando o nÃºmero de instÃ¢ncias em cada classe (support).
"""
print("RelatÃ³rio de ClasssificaÃ§Ã£o:")
print(classification_report(y_test, y_pred_rounded))

RelatÃ³rio de ClasssificaÃ§Ã£o:
              precision    recall  f1-score   support

           0       0.61      0.52      0.56        66
           1       0.50      0.59      0.54        54

    accuracy                           0.55       120
   macro avg       0.55      0.55      0.55       120
weighted avg       0.56      0.55      0.55       120